body {
  font-size: 81%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #333333 url("/images/appsdynamic/bottom_shine.png") bottom left repeat-x; }

a, a:link, a:visted {
  color: #8c8c8c;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #b3b3b3;
  text-decoration: underline; }

#main {
  margin: 1em 1.4em 1em 1em;
  background: white url("/images/appsdynamic/shadow_top.png") top left repeat-x;
  border-top: solid 1px white;
  border-right: solid 1px white;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); }

#header {
  background: black url("/images/appsdynamic/bottom_shine.png") bottom left repeat-x;
  padding: 0.5em 1em 2.3em 1em; }
  #header h1 {
    font-family: Verdana, sans-serif; }

#tabs {
  background: black url("/images/appsdynamic/bottom_shine.png") bottom left repeat-x;
  right: 6px;
  margin-right: 1px;
  margin-left: 6px; }
  #tabs a:link.active, #tabs a:visted.active {
    background: #222222 url("/images/appsdynamic/bottom_shine.png") 0px -36px repeat-x;
    border-color: #444444;
    color: #d5d5d5;
    font-weight: bold; }
  #tabs li {
    background: #111111 url("/images/appsdynamic/bottom_shine.png") 0px -40px repeat-x;
    border: solid 1px #333333;
    border-width: 1px 1px 0px 0px;
    font-size: 1em;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    margin-right: 1px;
    margin-left: 1px;
    padding: 0px; }
    #tabs li a:link, #tabs li a.active, #tabs li a:hover {
      text-decoration: none;
      line-height: 20px;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
    #tabs li a:link, #tabs li a:hover {
      background: none;
      color: #aaaaaa;
      padding: 5px 10px 5px 10px; }
    #tabs li a.active, #tabs li li a.active:hover {
      background: #222222 url("/images/appsdynamic/bottom_shine.png") 0px -36px repeat-x;
      border-color: #444444;
      color: #d5d5d5;
      font-weight: bold; }
  #tabs li:hover {
    background: #333333 url("/images/appsdynamic/bottom_shine.png") 0 -40px repeat-x;
    border-color: #555555; }
    #tabs li:hover a {
      color: white; }
  #tabs li:first-child {
    -khtml-border-radius-topleft: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px; }
  #tabs li:last-child {
    -khtml-border-radius-topright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; }
  #tabs li a.active {
    background-color: #333333; }

#footer {
  border: none; }
  #footer a {
    color: #cccccc;
    font-weight: normal; }
  #footer a:hover {
    color: white;
    text-decoration: none; }
